<header id="header">
    <nav class="header-nav">
      <a class="header-title" href="/">Mediateko</a>
      <ul>
        <li><a href="/films">Films</a></li>
        <li><a href="/authors">Music</a></li>
        
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add Book</a></li>
      </ul>
      <!--<div id="msg" class="error-message">Grummel</div>-->
    </nav>
  </header>
