<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

  <!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
  <script src="https://kit.fontawesome.com/6906e40c7c.js" crossorigin="anonymous"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
  <script defer src="/javascripts/import.js"></script>
  <script defer src="/javascripts/modal.js"></script>
  <script defer src="/javascripts/helper.js"></script>
  




<link id="main-css" rel="stylesheet" href="/stylesheets/main.css"/>
<link rel="stylesheet" href="/stylesheets/modal.css">
    <title>Mediateko</title>
    <style>
      #modal.open {
        display: block;
      }
      #overlay.open {
        display: block;
      }
    </style>
</head>
<body>
  <div class="container">
      <%- include('../partials/header.ejs') %>
      <div id="content" class="inner-container"></div>
      <%- include('../partials/errorMessage.ejs') %>
      <%- include('../partials/myMessage.ejs') %>
      
      <%- body %>
      <br>
  </div>

  <!-- test code -->
  <button class="invisible" id="open-modal-btn">Open Modal</button>
  <div id="overlay"></div>
  <div id="modal">
    <div class="modal-header">
      <div class ="title">Example</div>
      <button  id="close-modal-btn" class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Es fährt ein Zug nach Nirgendwo. 
    </div>
  </div>
  <!-- end test code -->
    
  </body>
</html>